{% extends "../base.html" %}
{% load static %}
{% block title %}
  Model Info
{% endblock title %}
{% block body %}
{% include "siteAdmin/nav.html" %}


<section class="page-title bg-1">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block text-center">
            <span class="text-white">Model Details</span>
            <!-- <h1 class="text-capitalize mb-5 text-lg">{{doctor.fname}} {{doctor.lname}}</h1> -->
  
            <ul class="list-inline breadcumb-nav">
                <li class="list-inline-item"><a href="{% url 'adminHome' %}" class="text-white">Home</a></li>
                <li class="list-inline-item"><span class="text-white">/</span></li>
                <li class="list-inline-item"><a href="" class="text-white-50">Model Info</a></li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section model-single">
    <div class="container">
        <div class="row">
            <!-- Model Overview -->
            <div class="col-lg-4 col-md-6">
                <div class="model-img-block">
                    <img src="{% static 'images/ml_logo.png' %}" alt="ML Model" class="img-fluid w-100">
                    
                    <div class="info-block mt-4">
                        <h4 class="mb-0">Sleep Disorder Detection Model</h4>
                        <p>Powered by TensorFlow</p>
                    </div>
                </div>
            </div>

            <!-- Model Details -->
            <div class="col-lg-8 col-md-6">
                <div class="model-details mt-4 mt-lg-0">
                    <h2 class="text-md">Model Information</h2>
                    <div class="divider my-4"></div>
                    <p><strong>Input Features:</strong> {{ model_info.input_features }}</p>
                    <p><strong>Hidden Layers:</strong> {{ model_info.hidden_layers }}</p>
                    <p><strong>Activation Function:</strong> {{ model_info.activation_function }}</p>
                    <p><strong>Optimizer:</strong> {{ model_info.optimizer }}</p>
                    <p><strong>Accuracy:</strong> {{ model_info.accuracy }}%</p>
                    <p><strong>Precision:</strong> {{ model_info.precision }}%</p>
                    <p><strong>F1_score:</strong> {{ model_info.f1_score }}%</p>
                    <p><strong>Recall:</strong> {{ model_info.recall }}%</p>
                    <!-- <p><strong>Last Trained:</strong> {{ model_info.last_trained }}</p> -->
                </div>

                <!-- <a href="" class="btn btn-main-2 btn-round-full mt-3">
                    Retrain Model
                </a>
                <a href="" class="btn btn-main-2 btn-round-full mt-3">
                    View XAI Analysis -->
                </a>
            </div>
        </div>
    </div>
</section>


  
{% endblock body %}