{% extends "../base.html" %}
{% load static %}
{% block title %}
  Patients List
{% endblock title %}
{% block body %}
{% include "doctor/nav.html" %}
<section class="page-title bg-1">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block text-center">
            <h1 class="text-capitalize mb-5 text-lg">My Patients</h1>
            <ul class="list-inline breadcumb-nav">
              <li class="list-inline-item"><a href="{% url 'doctorHome' %}" class="text-white">Home</a></li>
              <li class="list-inline-item"><span class="text-white">/</span></li>
              <li class="list-inline-item"><a href="#" class="text-white-50">My Patients</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  <!-- portfolio -->
<section class="section patient">
        <div class="container">
          <a href="{% url 'doctorAddPatient' %}" class="btn btn-primary float-right">Add Patient Now</a>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th>Full Name</th>
                            <th>DOB</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for consultation in consultations %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ consultation.patient.fname }} {{ consultation.patient.lname }}</td>
                            <td>{{ consultation.patient.dob }}</td>
                            <td>
                                <a href="{% url 'doctorPatientInfo' consultation.patient.id %}" class="btn btn-info btn-sm">View</a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="8" class="text-center">No patients found.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        </section>

  <!-- /portfolio -->
  
{% endblock body %}