{% extends "../base.html" %}
{% load static %}
{% block title %}
  Doctor Info
{% endblock title %}
{% block body %}
{% include "doctor/nav.html" %}


<section class="page-title bg-1">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block text-center">
            <span class="text-white">Profile</span>
            <h1 class="text-capitalize mb-5 text-lg">{{doctor.fname}} {{doctor.lname}}</h1>
  
            <ul class="list-inline breadcumb-nav">
                <li class="list-inline-item"><a href="{% url 'doctorHome' %}" class="text-white">Home</a></li>
                <li class="list-inline-item"><span class="text-white">/</span></li>
                <li class="list-inline-item"><a href="#" class="text-white-50">Profile</a></li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section doctor-single">
    <div class="container">
        <div class="row">
            

            <!-- doctor Bio -->
            <div class="col-lg-8 col-md-6">
              <div class="doctor-details mt-4 mt-lg-0">
                  <h2 class="text-md">Profile</h2>
                  <div class="divider my-4"></div>
                  <div class="col-lg-4 col-md-6">
                    <div class="doctor-img-block">
                        <img src="{{ doctor.profile_picture.url }}" alt="{{ doctor.fname }} {{ doctor.lname }}" class="img-fluid w-100">
                    </div>
                </div>
                  
                  <h4 class="mb-0">{{ doctor.fname }} {{ doctor.lname }}</h4>
                  <p><strong>Date of Birth:</strong> {{ doctor.dob }}</p>
                  <p><strong>Gender:</strong> {{ doctor.gender }}</p>
                  <p><strong>Email:</strong> {{ doctor.email }}</p>
                  <p><strong>Phone:</strong> {{ doctor.phone|default:"Not Provided" }}</p>
                  <p><strong>Account Created On:</strong> {{ doctor.created_on }}</p>
              </div>
              
              <a href="{% url 'doctorProfileEdit' %}" class="btn btn-main-2 btn-round-full mt-3">
                  Edit Info
              </a>
          </div>
          
        </div>
    </div>
</section>
  
{% endblock body %}