{% load static %}
<!-- Footer Start -->
<footer class="footer section gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mr-auto col-sm-6">
                <div class="widget mb-5 mb-lg-0">
                    <div class="logo mb-4">
                        <img src="{% static 'images/logo.png' %}" alt="" class="img-fluid">
                        <span style="font-size: 30px; font-weight: bold; color: #333;">Sleepify</span>
                    </div>
                    <p>Your personalized AI-powered sleep disorder detection system. Get expert insights and improve your sleep quality with data-driven diagnostics.</p>

                    <ul class="list-inline footer-socials mt-4">
                        <li class="list-inline-item"><a href="#"><i class="icofont-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="icofont-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="icofont-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="widget mb-5 mb-lg-0">
                    <h4 class="text-capitalize mb-3">Quick Links</h4>
                    <div class="divider mb-4"></div>

                    <ul class="list-unstyled footer-menu lh-35">
                        <li><a href="">Doctors</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="widget mb-5 mb-lg-0">
                    <h4 class="text-capitalize mb-3">Support</h4>
                    <div class="divider mb-4"></div>

                    <ul class="list-unstyled footer-menu lh-35">
                        <li><a href="">Terms & Conditions</a></li>
                        <li><a href="">Privacy Policy</a></li>
                        <li><a href="">FAQ</a></li>
                        <li><a href="">Contact Us</a></li>
                        <li><a href="">About Sleepify</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="widget widget-contact mb-5 mb-lg-0">
                    <h4 class="text-capitalize mb-3">Get in Touch</h4>
                    <div class="divider mb-4"></div>

                    <div class="footer-contact-block mb-4">
                        <div class="icon d-flex align-items-center">
                            <i class="icofont-email mr-3"></i>
                            <span class="h6 mb-0">24/7 Support Available</span>
                        </div>
                        <h4 class="mt-2"><a href="mailto:support@sleepify.com">support@sleepify.com</a></h4>
                    </div>

                    <div class="footer-contact-block">
                        <div class="icon d-flex align-items-center">
                            <i class="icofont-support mr-3"></i>
                            <span class="h6 mb-0">Mon to Fri : 09:00 - 18:00</span>
                        </div>
                        <h4 class="mt-2"><a href="tel:+1-800-555-0199">+1-800-555-0199</a></h4>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="footer-btm py-4 mt-5">
            <div class="row">
                <div class="col-lg-6">
                    <p class="mb-0">© 2025 Sleepify. All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 text-right">
                    <a class="backtop js-scroll-trigger" href="#top">
                        <i class="icofont-long-arrow-up"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
